.CategoryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Align keys to the left */
}

.CategoryList .key {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  width: 200px; /* Adjust width of keys */
}

.CategoryList .no-categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center "no-categories" vertically and horizontally */
  text-align: center;
  width: 100%; /* Make "no-categories" take full width */
  margin: 10px; /* Adjust margin */
}
.col {
  padding-right: 10px; /* Adjust the padding as needed */
}

.col-md-1 {
  padding-left: 10px; /* Adjust the padding as needed */
}

